.column {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
  justify-content: space-between;
}

.instruction {
  display: grid;
  justify-items: end;
}

.main-ul {
  display: grid;
  gap: 30px;
  justify-content: space-between;
  width: 100%;
}

.div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  justify-content: space-between;
  width: 100%;
}

.user {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 10px;
  justify-content: start;
  padding: 10px;
  background-color: #1c2833;
  border: 3px solid #3b6f58;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 40%);
}

.user-p {
  color: #d4af37;
}
