main {
  margin-bottom: 30px;
}

main ul li {
  display: flex;
  flex-flow: column nowrap;
  width: calc(100% / 3);
}

.courses {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 15px;
}

article {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  min-height: 440px;
  padding: 10px;
  background-color: #252525;
  border-radius: 5px;
}

h1 {
  margin-bottom: 7px;
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

.author {
  text-align: right;
}

.date {
  flex-grow: 1;
  align-content: flex-end;
  text-align: right;
}
