h1 {
  margin-bottom: 12px;
  font-size: 34px;
  font-weight: bold;
}

.top-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 320px;
}

.top-form button {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 44px;
  cursor: pointer;
  background-color: #fff8c4;
  border: 3px solid #808c92;
  border-radius: 3px;
}

.top-form button:hover {
  font-size: 22px;
  border-color: #1e223b;
}