body {
  font-family: "Figtree Variable", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #eeeeec;
  background-color: #121113;
}

h1 {
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 700;
}

#app {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100svh;
}
