body {
  margin: 0 auto;
  font-family: "Figtree Variable", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #eeeeec;
  background-color: #111110;
}

h1 {
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 700;
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100svh;
}

main {
  padding: 24px;
}
