#app {
  display: flex;
  flex-flow: row nowrap;
  gap: 32px;
  height: 800px;
  padding: 2%;
  font-family: Geo, Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #1e223b;
  background-color: #d4cda9;
}