aside {
  width: 580px;
  height: 100%;
  background-image: url("https://i.pinimg.com/564x/29/76/88/29768898c53aae5e17a05d372e9b9a1b.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 24px;
}

aside:hover {
  border: 1px;
  border-color: #1e223b;
  border-style: solid;
}
@media (width <= 700px) {
  aside {
    display: none;
    width: 0;
  }
}
