body{
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding: 2%;
  height: 800px;
  background-color: #d4cda9;
  font-family: "Geo", Arial, Helvetica, sans-serif;
  font-size: 20px;
  color:#1e223b;
}

aside{
  background-image: url("https://i.pinimg.com/564x/29/76/88/29768898c53aae5e17a05d372e9b9a1b.jpg");
  width: 580px;
  border-radius: 24px;
  height: 100%;
  background-position: center;
  background-size: cover;
}

aside:hover{
border-color: #1e223b;
border: 1px;
border-style: solid;
}

main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: calc(100% - 580px - 32px);
  gap: 48px;
}

h1{
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 12px;
}


.center-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 320px;
  gap: 8px;
}

input{
  height: 44px;
  border-radius: 3px;
  border: 3px;
  border-style: solid;
  border-color: #808c92;
  background-color: #fff8c4;
  margin-bottom: 12px;
}

input:hover{
  border-color: #1e223b;
}

input::placeholder{
  padding-left: 15px;
  color:#808c92;
}

label{
  font-size: 20;
  font-weight: 900;
}

select{
  color: #1e223b;
  border-radius: 5px;
  border: 3px;
  border-style: solid;
  border-color: #808c92;
  background-color: #fff8c4;
  height: 44px;
}

.checkbox {
  display: flex;
  opacity: 0;
}

.checkbox-label {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.checkbox-view {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border: 3px solid #808c92;
  border-radius: 3px;
  background: #fff8c4;
}

.checkbox-icon {
  opacity: 0;
}

.checkbox:checked + .checkbox-view {
  background-color: #fff8c4;
  color: #1e223b;
}

.checkbox:checked + .checkbox-view .checkbox-icon {
  opacity: 1;
}

a {
  font-weight: bold;
  text-decoration: underline;
}

a:hover {
  font-size: 20px;
  color: #84939a;
}

.top-form{
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 320px;
}

.top-form button{
  width: 100%;
  height: 44px;
  cursor: pointer;
  background-color: #fff8c4;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #808c92;
  border-radius: 3px;
}

.top-form button:hover{
  border-color: #1e223b;
  font-size: 22px;
}

h6{
  font-size: 27px;
  font-weight: bold;
  color: #808c92;
}

.select-p{
  font-size: 18px;
}

.center-form button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 44px;
  cursor: pointer;
  border-radius: 3px;
  background-color: #1e223b;
  color: #fff;
}

.center-form button:hover{
  background-color: #808c92;
}

.a-litle{
  font-size: 17px;
  color: #1e223b;
}

.a-litle:hover{
  font-size: 19px;
  color: #84939a;
}

.p-litle{
  font-size: 17px;
  color: #808c92;
  }

@media (max-width: 700px) {
  aside{
    display: none;
    width: 0;
  }
  main{
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 48px;
    align-content: center;
    grid-template-rows: 20% 3% 40%;
  }
}

