body {
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
  align-items: start;
  max-width: 920px;
  margin: 0 auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #f0f8ff;
  background-color: #18191c;
}

a {
  text-decoration: overline 2px #94aec4;
  border-bottom: 3px solid #94aec4;
}

main {
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
  align-items: start;
}

nav ul {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 10px;
}

nav {
  margin-top: 40px;
  margin-bottom: 20px;
}

main ul li {
  display: flex;
  flex-flow: column nowrap;
  width: calc(100% / 3);
}

.courses-list {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 15px;
}

article {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  min-height: 440px;
  padding: 10px;
  background-color: #252525;
  border-radius: 5px;
}

h1 {
  margin-bottom: 7px;
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

footer p {
  text-align: center;
}

.author {
  text-align: right;
}

.date {
  flex-grow: 1;
  align-content: flex-end;
  text-align: right;
}

button {
  padding: 12px;
  background-color: #94aec4;
  border-radius: 3px;
}

div {
  display: grid;
  grid-template-columns: auto;
  gap: 30px;
}

.text {
  padding: 12px;
  background-color: #94aec4;
  border-radius: 3px;
}
