/* :root {
  --gradient: linear-gradient(45deg, red 0 33, green 33 66, blue 66 100);
} */

.header {
  display: grid;
  grid-template-columns: auto;
  place-content: center center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 50px;
  background-image: var(--gradient);
  transition: background-image 2s;
}

.catalog {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 25px;
  font-size: 22px;
}

.a {
  color: var(--textcolor);
  cursor: pointer;

  &:active {
    text-decoration: underline solid 2px var(--textcolor);
  }
}

/* stylelint-disable-next-line selector-class-pattern */
.aActive {
  display: inline-block;
  color: var(--textcolor);
  text-decoration: underline solid 2px var(--textcolor);
  text-shadow: -1px 1px rgb(255 255 255 / 2.5%);

  /* cursor: url("./image.png") 16 16; */
  cursor: not-allowed;
  transition: transform 0.2s;
  transform: scale(1.1) rotate(-3deg);
  transform-origin: left bottom;
}
